@import 'constantsAndMixins.scss';

#chat {
    position: absolute;
    width: 100vh;
    height: 18vh;
    bottom: 3vh;
    left: 0;
    right: 0;
    margin: auto;
    @include strongLight($neutralColor);
    background: none;
    border: $wallSize solid $neutralColor;
    justify-content: space-between;
    z-index: 200;
    display: flex;


    .header {
        @include smallFont();
        font-size: 14px;
        text-transform: lowercase;
        flex-wrap: nowrap;
        text-align: center;
        width: fit-content;
        max-width: fit-content;
        width: 160px;

        .icon {
            @include strongSvgLight($neutralColor);
            width: 120px;
            min-height: 70px;
            max-height: 70px;
        }
    }

    .delimiter {
        @include weakLight($neutralColor);
        width: $mdSize;
        min-width: $mdSize;
        height: 100%;
    }

    .body {
        @include smallFont();
        flex: 1 1;
    }

    .enterArrow {
        align-self: flex-end;
        min-width: 60px;
        width: 60px;
        cursor: pointer;
        @include strongSvgLight($neutralColor);
    }
}