@import 'constantsAndMixins.scss';

#chat {
    position: absolute;
    width: 100vh;
    height: 18vh;
    bottom: 3vh;
    left: 0;
    right: 0;
    margin: auto;
    @include strongLight($neutralColor);
    background: none;
    border: $wallSize solid $neutralColor;
    z-index: 200;
    display: flex;


    .header {
        @include smallFont();

        .icon {
            @include strongSvgLight($neutralColor);
            height: $mdSize * 4;
        }
    }

    .delimiter {
        @include weakLight($neutralColor);
        width: $mdSize;
        height: 100%;
    }

    .body {
        @include smallFont();
    }

    .enterArrow {
        position: absolute;
        cursor: pointer;
        right: $mdSize;
        bottom: $mdSize;
        @include strongSvgLight($neutralColor);
    }
}