@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'reset.scss';
@import 'constantsAndMixins.scss';
@import 'chat.scss';
@import 'interface.scss';
@import 'map.scss';
@import 'shop.scss';
@import 'menu.scss';
@import 'modelDialog.scss';
@import 'button.scss';

html {
    font-size: 18px;
}

body {
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: $neutralColor;
    font-family: 'Inter', sans-serif;
}

#app,
main {
    width: 100%;
    height: 100%;
}

#mainCanvas {
    @include fullSize();
    @include absoluteToCenter();
    z-index: 998;
    pointer-events: none;
}

#extraCanvas {
    @include fullSize();
    @include absoluteToCenter();
    pointer-events: none;
    z-index: -1;
    opacity: 0;
}