@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background: rgb(253 255 228);
  font-family: 'Neucha', cursive;
  color: rgb(70 42 0);
}

.wall,
.empty {
  width: 10vh;
  height: 10vh;
  background: rgb(253 255 228);
  /* background: url(../img/textures/bg8.jpg) no-repeat;
  background-size: contain; */
}

.wall {
  /* background: #2A1F12; */
  background: url(../assets/img/textures/block.png) no-repeat;
  background-size: contain;
}

.coin {
  /* background: #d1d40e; */
  background: url(../assets/img/textures/coin.png) no-repeat center center;
  background-size: 70%;
}

.row {
  display: flex;
}

.finish.active {
  background: green;
  border-radius: 15%;
  opacity: 0.3;
}

.start.active {
  background: red;
  border-radius: 15%;
  opacity: 0.3;
}


#player {
  position: absolute;
  /* background: red; */
  background: url(../assets/img/player/player.png);
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 300ms;
  z-index: 999;
}

#level_menu {
  background: rgb(253 255 228);
  padding: 50px 20px;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 950px;
  width: 500px;
}

#description {
  width: 100%;
  color: rgb(70 42 0);
  font-size: 25px;
  margin-top: 25px;
  font-weight: 600;
  height: 150px;
}

#helper {
  margin-top: 20px;
  display: block;
  font-size: 19px;
}

#output_canvas {
  width: 100%;
  margin-top: 50px;
}

#input_video {
  display: none;
}




.levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 55px;
}

.level {
  background: rgb(70 42 0);
  color: #FCF2E5;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.level.active {
  background: #933232;
}

#timer {
  color: rgb(70 42 0);
  font-size: 30px;
  font-weight: 800;
  margin-top: 20px;
  position: relative;
}

#shop {
  display: none;
}

.shop__bg {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
}

.shop__content {
  position: absolute;
  opacity: 1;
  width: 70vw;
  height: 70vh;
  background: #550078;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 30px solid #000;
  overflow: hidden;
}

.shop__title {
  font-size: 85px;
  text-align: center;
  margin-top: 70px;
}

.shop__img {
  position: absolute;
  right: -50px;
  transform: rotate(-20deg);
  bottom: -70px;
  width: 550px;
}

.shop__description {}

.shop__text {
  font-size: 40px;
  width: 80%;
  margin-left: 80px;
  margin-top: 70px;
}

.shop__btn {
  font-size: 50px;
  background: #B500FF;
  box-shadow: 0 0 10px 10px #B500FF;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
  margin-top: 40px;
  padding: 5px 40px;
  cursor: pointer;
  transition: 300ms;
}

.shop__input {
  font-size: 45px;
  margin-top: 30px;
  border: none;
  outline: none;
  color: #B500FF;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
}

.shop__btn:hover {
  box-shadow: 0 0 13px 13px #c03ff3;
  background: #c03ff3;
}

.shop__close {
  width: 50px;
  height: 50px;
  background: url(../assets/img/close.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}


#bar {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 988;
}

.bar__coins {
  font-size: 38px;
  font-weight: 600;
  color: rgb(70 42 0);
  display: flex;
  align-items: center;
}

.bar__coins span {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url(../assets/img/textures/coin.png) no-repeat;
  background-size: contain;
  display: block;
}

.bar__shop {
  margin-left: 30px;
  width: 40px;
  height: 40px;
  background: url(../assets/img/store.png) no-repeat;
  background-size: contain;
  display: block;
  cursor: pointer;
}