@import 'constantsAndMixins.scss';

#eclipseBlock {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(#fff, 0.07), rgba(#000, 0.9) 75vh);
    opacity: 0.9;
}

#map {
    position: absolute;
    height: $mapSize;
    width: $mapSize;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .row {
        display: flex;

        .cell {
            width: $cellSize;
            height: $cellSize;
        }

        .empty {
            opacity: 0;
        }

        .finish {}

        .start {}

        .wall {
            @include strongLight($positiveColor);

            &.LeftTopAngle {}

            &.rightTopAngle {}

            &.leftBottomAngle {}

            &.rightBottomAngle {}

            &.horizontal {
                height: $wallSize;
                margin-top: $wallMargin;
                margin-bottom: $wallMargin;
            }

            &.vertical {
                width: $wallSize;
                margin-left: $wallMargin;
                margin-right: $wallMargin;
            }
        }

        .star {
            background-image: url('../assets/img/star.svg');
            background-size: 100% 100%;
            @include strongSvgLight($neutralColor);
        }
    }
}

#player {
    position: absolute;
    border-radius: 50%;
    width: $lgSize;
    height: $lgSize;
    will-change: transform;
    transition: 400ms;
    @include strongLight($negativeColor);

    .rotateBlock {
        height: 100%;
        position: relative;
        // animation: rotationAnimation 3s infinite linear;

        .charge {
            @include absoluteToCenter();
            border-radius: 50%;
            width: $mdSize;
            height: $mdSize;
            @include strongLight($negativeColor);
        }
    }
}

#tsparticles {
    @include absoluteToCenter();
    background-color: #0B0B17;

    canvas {
        width: $mapSize * 1.2 !important;
        @include absoluteToCenter();
    }
}