*{
  padding: 0;
  margin: 0;
}
body{
  overflow: hidden;
  background: #FCF2E5;
  font-family: 'Roboto', serif;
}
.wall, .empty{
  width: 90px;
  height: 90px;
  background: #FCF2E5;
}
.wall{
  background: #2A1F12;
}
.row{
  display: flex;
}
#lab{
  
}
#me{
  background: red;
  border-radius:  50%;
  width: 10px;
  height: 10px;
  transition: 300ms;
}

.three {
  background: #FCF2E5;
  padding: 50px 20px;
  text-align: center;
  position: absolute;
  top:  50px;
  left:  950px;
  width: 500px;
} 
.three h1 {
  width: 70%;
  color: #FCF2E5;
  background: #2A1F12;
  font-family: 'Merriweather', serif;
  position: relative;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.three h1:before {
  content: ""; 
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  background: #2A1F12;
}
.three h1:after {
  content: ""; 
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #2A1F12;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
.three p{
  width: 100%;
  color: #2A1F12;
  font-size:  25px;
  margin-top: 25px;
  font-weight: 600;
  height: 150px;
}
.three i{
  margin-top: 20px;
  display: block;
  font-size:  19px;
}
.output_canvas{
  width: 100%;
  margin-top: 50px;
}
.input_video{
  display: none;
}
.win.active{
  background: green;
  opacity: 0.3;
}
.start.active{
  background: red;
  opacity: 0.3;
}



.levels{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
  margin-top: 55px;
}

.level{
  background: #2A1F12;
  color:  #FCF2E5;
  text-align: center;
  font-weight: 700;
  font-size:  28px;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.level.active{
  background: #933232;
}
#timer{
  color: #2A1F12;
  font-size:  30px;
  font-weight: 800;
  margin-top: 20px;
  position: relative;
}
#record{
  position: absolute;
  font-size:  18px;
  margin-left: 10px;
  right: 70px;
  bottom: 0;
}